*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling the navbar */
nav{
    display: flex;
    margin-top: 25px;
}

/* styling the logo */
#logo{
    width: 120px;
    height: 100px;
    margin-left: 25px;
}

/* navbar menu items */
#navbar-menus{
    margin: auto;
    margin-top: 25px;
    
}
#menus{

    display: flex;
    list-style: none;
    
}
#menus li{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    
}
#menus li:hover{
    color: goldenrod;
}

/* connexion buttons */
#connexion-buttons{
    margin-right: 50px;
}
#connexion-buttons button{
    padding: 5px;
    border-radius:10px;
    margin-left: 10px;
}
#connexion-button{
    color: white;
    background-color:goldenrod;
}
#login-button{
    color: goldenrod;
    border: 1px solid goldenrod;
    
}

/* main background */
#main-background {
    background: url("../medias/ept_background.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* styling the text */
#description{

 padding: 150px 0 0 50px;
 color: white;
}
#devise{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 50px;
}
#long-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the footer */
footer{
    background-color:goldenrod ;
    display: flex;
    color: white;
}

#col1{
    margin:10px 0 10px 5px;
    border-right: 1px solid white;
    padding-right: 50px;
}
#col1 img{
    margin:auto
}
#copyright{
    border-right: 1px solid white;
    padding: 5px;
}
#col2{
    margin:auto;
    border-right: 1px solid white;
    padding-right: 50px;
}
#adresses, #social_medias{
    list-style: none;
}
#col3{
    margin-right: 50px;
}
#col3 ul{
    display: flex;
}

#section_titles{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    line-height: 20px;
}
#social_medias li{
    margin-right: 20px;
    margin-top: 25px;
}
#col2 ul, #col3 ul{
    margin-left: 0px;
}